/* Fonts */
@font-face {
    font-family: "Junicode";
    src: url(Assets/Junicode.ttf);
}

html{
    background-color: black;
}

body{
    font-family: "Junicode";
    margin: 0;
    /* padding-right: 7vw; */
    font-size: 18px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: rotate(2.5deg);
    align-items: center; /* Center vertically */
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: move;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.custom-gif{
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

p{
    color: white;
    line-height: 20px;
    /* margin-left: 20vw;
    margin-right: 20vw; */
    white-space: nowrap;
}

p.contact{
    text-align: center;
    line-height: 25px;
}

span{
    color:  #ffb4a0; 
}

a{
    text-decoration: none;
    color: white;

}

a:hover{
    color:  #ffb4a0; 
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }


  .note{
    text-decoration: underline #ffb4a0;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
  }