/* Fonts */
@font-face {
    font-family: "Junicode";
    src: url(Assets/Junicode.ttf);
}

@font-face {
    font-family: "Junicode-Italic";
    src: url(Assets/Junicode-Italic.ttf);
}

html {
    background-color: white;
}

body {
    font-family: "Junicode";
    margin: 0;
    font-size: 16px;
    color: black;
    word-wrap: break-word;
    /* overflow: hidden; */
    line-height: 21px;
}

/* .bio #logo{
    width: auto;
    height: 200px;
    margin-left: -15px;
    margin-bottom: -15px;
} */

/* .row p{
    line-height: 18px;
} */

p { 
  margin:0; }

.custom-gif {
    width: auto;
    position: absolute;
    bottom: 20px;
    width: auto;
    height: 4vw;
    z-index: 1000; /* Ensures it's on top */
}

.page-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 45px; /* space between bio and projects */
    margin-left: 30px;
}

.bio {
    width: 23vw;
    margin-top: 10px;
    height: auto;
}

.projects {
    /* flex: 2; */
    overflow-y: scroll;
    padding-right: 20px;
    height: 99vh;
width: 75%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-bottom: 0.75px solid #ffa58b;  */
    overflow: hidden;
  height: clamp(420px, 70vh, 820px);
          margin-top: 10px;
  }
  
  .column1, .column2, .column3 {
    /* font-size: 14px; */
    height: 100%;
  }

.row .column1 {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  margin-right: 20px;
  justify-content: center; /* add this */
    flex-basis: 60vw;
    margin-top: -20px;
}

  .row .column2{
    flex-basis: 20vw;
  }

  /* .row .column3{
    text-align: center;
    width: 12vw;
    flex-basis: 16vw;
  } */
  
  /* .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: contain; 
    opacity: 0;
    transition: opacity 0.45s ease-in-out;
  }  

  .slide.active {
    opacity: 1;
  } */
  
  .project-name{
    font-size: 22px;
  }
  
  /* .project-name#individual{
    padding-bottom: 14px;
    border-bottom: 1px solid #ffa58b;
  } */

  h1{
    font-family: "Junicode-Italic";
    line-height: 23.5px;
  }

  #header{
    font-family: "Junicode";
    text-decoration: underline .75px #ffa58b;
    text-underline-offset: 6px;
    font-kerning: normal;
    font-size: 22px;
    pointer-events: auto;
  }

  /* #arrow{
    font-size: 10px;
    color: #ffb4a0;
} */

#symbol{
  color: #ffa58b;
}

a{
    text-decoration: none;
    color: black;

}

a:hover{
    color:  #ffa58b; 
}

.contact{
  z-index: 1000; /* Ensures it's on top */
}

.italics{
  font-family: "Junicode-Italic";
}

/* Image Gallery */



/* .image-container {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.gallery button {
  background: none;
  color: #ffa58b;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 36px;
  transition: color 0.3s ease;
} */

.gallery button:hover {
  color: black;
}

.prev{
  transform: rotate(180deg);
}


/* .info{
  margin-top: 25px;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  gap: 45px;
  margin-bottom: 42px;
  background-color: aqua;
} */

.about{
width: 54vw;
height: auto;
}

.year{
width: 38vw;
}

.image-track {
  display: flex;
  gap: 10px;
  height: 100%;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  scroll-behavior: smooth;
}

/* hide scrollbar but keep functionality */
.image-track::-webkit-scrollbar {
  display: none;
}
.image-track {
  -ms-overflow-style: none;
  scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.image-track img {
  max-height: none;
  max-width: 100%;
  width: auto;
  height: 100%;
  flex-shrink: 0;
  object-fit: contain;
  scroll-snap-align: center;
    display: block;
}

#signal1{
    object-fit: cover;
}


#arrow{
  font-size: 12px;
}


@media screen and (max-width: 768px) {
  html, body {
    height: auto;
    overflow-y: auto;
  }

  .page-container {
    flex-direction: column;
    margin: 20px 10px;
    gap: 20px;
  }


  .bio {
    width: 98%;
  }

  .projects {
    width: 100%;
    height: auto;
    overflow: visible;
    padding-right: 0;
    padding-top: 0px;
  }

  .row {
    flex-direction: column;
    height: auto;
    padding: 2px 0;
  }

  .row .column1,
  .row .column2 {
    width: 100%;
    margin-right: 0;
  }

.row .column1{
  flex-basis: 60vw;
}

.row .column2{
 margin-bottom: 20px;
}

  .info {
    flex-direction: column;
    gap: 20px;
  }

  .about, .year {
    width: 100%;
  }

  .custom-gif {
    display: none;
    /* height: 10vw;
    position: relative;
    margin-top: -38px;
    margin-left: 392px; */
  }

  /* .slide{
    padding-top: 34px;
  } */


  .project-name{
    padding-top: 10px;
  }

  .page-container{
    margin-top: -10px;
  }

}

