/* Fonts */
@font-face {
    font-family: "Junicode";
    src: url(Assets/Junicode.ttf);
}
@font-face {
    font-family: "Junicode-italic";
    src: url(Assets/Junicode-Italic.ttf);
}

body{
    font-family: "Junicode";
    margin: 7vw;
    margin-top: 2vw;
    /* padding-right: 7vw; */
    font-size: 16px;
}

.flex-container{
display: flex;

}

.column{
    flex-direction: row;  /* Each column takes equal available space */
     /* Add padding for spacing */
    }

    .column2{
    /* border: 2px solid #ffb4a0;
    border-style: dotted; */
    margin-left: 50px;
    width: 600px;
}

h1{
    font-weight: normal;
}

.column h1{
    margin-right: 20px;
}

.column2 h1{
    margin-right: 5px;
}

/* .column2 h1{
    padding-left: 40px;
} */

#header{
    font-family: "Junicode-Italic";
}

#name{
font-weight: bold;
-webkit-text-stroke: .25px black;
}

#arrow{
font-size: 22px;
color: #ffb4a0;
-webkit-text-stroke: .25px #ffb4a0;
}

#externalArrow{
    font-size: 22px;
    color: #ffb4a0;
    -webkit-text-stroke: .25px #ffb4a0;
}

.work{
margin-top: -1vw;
display: inline-block;
}

.work div{
    transition: transform 0.5s ease;
    margin-bottom: 15px;
}

.work div:hover {
    transform: scale(1.03); /* You can adjust the scaling factor as needed */
}

.work div:hover a{
    font-family: "Junicode-italic";
}

.work div:hover #arrow{
    color: black;
}

.work a{
    font-size: 32px;
    color: black;
    text-decoration: none;
}

#caption{
    font-size: 24px; 
    color: grey;
    line-height: -100px;
    margin-top: -90px;
 }


 button{
    font-size: 10px;
    border-style: solid;
    border: #ffb4a0 2px;
    background-color: ;
    font-family: "Junicode";
    transition: transform 0.5s ease;
    width: 100px;
    height: 60px;
    margin: 20px;
}

.accent{
    border-color: #ffb4a0;
    border-style: solid;
    border-width: 0.5px;
    margin: 30px 0;
    margin-bottom: 20px;
}

hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 3px;
}

.contact a{
    color: grey;
    text-decoration: none;
}

.contact a:hover{
    color: black;
    /* text-decoration: underline; */
    font-family: "Junicode-Italic";
}